.DS_Store

blog/public/
blog/resources/
blog/.hugo_build.lock

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log
terraform/crash.*.log

*.pem
*.key
*.p12
*.crt
*.zip